<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <h1> {{ title }} </h1>
        <button @click="getContent">Get content</button>
        <div v-if="showContent">
            <p>Users:</p>
            <ul>
                <li v-for="(user, index) in users" :key="user.id">
                    <p>{{index}} - {{user.name}}</p>
                    <span>{{user.email}} - {{user.age}}</span>
                </li>
            </ul>
        </div>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                title: 'Data',
                showContent: false,
                user: {
                    name: 'Jack',
                    email: 'info@tocode.ru'
                },
                users: [
                    {
                        name: 'jack',
                        email: 'info@tocode.ru',
                        age: 22,
                        id:15
                    },
                    {
                        name: 'dima',
                        email: 'idima@tocode.ru',
                        age: 25,
                        id: 54
                    },
                    {
                        name: 'alex',
                        email: 'dimao@tocode.ru',
                        age: 20,
                        id: 877
                    }

                ]
            },
            methods: {
                getContent() {
                    this.showContent = !this.showContent
                }
            }
        })
    </script>
</body>

</html>